.componentBody {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px;
  border-color: black;
  border-bottom-style: solid;
  background-color: white;
  margin-top: 5px;
  border-radius: 3px;
}

.optionButtonContainer {
  height: 100%;
  width: 100%;
}

.finishedButton {
  width: 44%;
  margin-right: 6%;
  background-color: rgb(150, 150, 150);

}

.cancelButton {
  width: 44%;
  background-color: rgb(150, 150, 150);
}

.textContainer {
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  height: 50px;
  min-height: 50px;
  border-radius: 12px;
  border: 1px solid #FFFBFC;
  padding: 3px;
  font-weight: 800;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
}

.descryptionTextContainer {
  max-width: 40%;
  width: 40%;
  border: 0px;
  word-wrap: break-word;
  text-align: left;
}

.categoryTextConatiner {
  width: 31.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.descriptionText {
  width: 100%;
  margin-left: 10px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1;
}

.categoryText {
  width: 100%;
  color: black;
}

.navbarLink {
  float: left;
}

.createTaskLink {
  float: right;
  
}

.navbarLink :hover {
  background-color: blue;
}

.createTaskLink :hover {
  background-color: blue;
}

.link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
