.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.body {
  background-color: black;
  height: 100%;
  width: 100%;
}

.taskContainer {
  height: 100%;
  width: 100%;
}
