.main {
  height: 100%;
  width: 100%;
}

.createTaskForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.createTaskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 50%;
  border: solid;
  border-radius: 10px;
  padding: 3%;
}

.DescriptionHeader {
  margin-bottom: 10px;
}

.descriptionInput {
  width: 15%;
  height: 12%;
}

.categoryheader {
  margin: 10px;
}

.dropdown {
  width: 15%;
  height: 12%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 30%;
  width: 100%;
}

.submitdataButton {
  width: 15%;
  height: 27%;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
